:root {
  --indent: 1em;
}

.jp-DirListing-item {
  flex-grow: 1;
  display: flex;
  padding-left: calc(var(--jp-unfold-depth, 0) * var(--indent));
}

.jp-DirListing-itemName {
  flex-grow: 1;
}

.jp-DirListing-item.jp-mod-running .jp-DirListing-itemIcon::before {
  left: -2px;
}

.jp-unfold-virtual-spacer {
  list-style: none;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.jp-mod-unfold-virtualized .jp-DirListing-content {
  overflow-anchor: none;
}
